$white: #ffffff;
$darkGrey: #3C4C57;
$midGrey: #767E84;
$grey: #BBC0C4;
$navy: #003153;
$royal: #004996;
$blue: #4180B4;
$lightBlue: #C7DFF2;
$paleBlue: #F1F9FF;
$darkOrg: #EB5C00;
$orange: #FF9505;
$lightOrg: #FFb41F;
$paleOrg: #FCDE8B;
$dropShaddow: rgba(0,73,150,0.1);