@use './_colours' as *;

h1, h2, h3, h4, h5, h6, p, a, span, label, legend, select, input, button, option {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    color: $navy;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

%bold {
    font-weight: 700;
}

%black {
    font-weight: 900;
}

%italic {
    font-style: italic
}

h2.headline {
    font-family: 'Annie Use Your Telescope', 'Helvetica Neue', Arial, cursive;
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 2.5rem;
}

p {
    font-size: 18px;
    line-height: 30px;
}

button {
    font-size: 14pt 
}

.label-text {
    font-size: 10px;
    line-height: 14px;
}

.large-body {
    font-size: 14px;
    @extend %bold;
}

button.btn,
button.btn--outline, 
.nav-link {
    @extend %bold;
}