@use './_colours' as *;
@use './_typography';
@use './mixins/_buttons';
@use './_navigation';
@use './_footer';

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* General structural styling */
body, nav, main, footer {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    z-index: 0;
}

body, nav, main {
    background-color: $white;
}