{# Include for the positioned cookies preferences bar #}
<div class="cookies-bar">
    <div class="cookies-bar-before"></div>
    <div class="cookies-bar-content">
        <div class="content-text">
            <h6 class="large-body">
                This website uses cookies
            </h6>
            <p class="label-text">
                We use cookies to improve user experience. Choose what cookies you allow us to use. You can read more about our Cookie Policy in our Privacy policy.
            </p>
        </div>
        <div class="content-ctas">
            <button id="acceptCookies" class="btn cookie-bar-control" aria-label="Accept site cookies policies">
                Accept
            </button>
            <button id="declineCookies" class="btn--outline cookie-bar-control" aria-label="Decline site cookies policies">
                Decline
            </button>
        </div>
    </div>
</div>