{# Website 'Home' page, generated from the './_home.twig' template #}
{% extends '_home' %}

{# Define page parameters #}
{% set docTitle = 'Home | The Paw Patch' %}
{% set pageAttrs = {
    body: {
        class: 'home-page'
    },
    header: {
        class: 'home-welcome'
    }
} %}

{# Header content #}
{% block headerContent %}
<button class="btn-icon coming-soon">
    <img src="{{ alias('@web') }}/assets/svg/Play.svg" title="Play video" alt="Play video" aria-label="Click to play the video" />
</button>

<button class="btn-icon scroll-to-content">
    <img src="{{ alias('@web') }}/assets/svg/more-arrow.svg" title="See more content" alt="See more content" aria-label="Click to scroll to more content" />
</button>
{% endblock %}

{# Main page content #}
{% block bodyContent %}
{# First section #}
<section class="simple-content">
    <div class="element-before"></div>
    <div class="content-wrapper">
        <div class="content-text">
            <h2 class="headline">
                Exclusive, enclosed private dog walking fields for hire.
            </h2>
            <p>
                The Paw Patch offers exclusive, enclosed dog walking fields for private hire. We have multiple locations in Essex with more coming soon. Our fields are approximately 6 acres each in size with 6ft fencing and gates to enable you to give your dog freedom off its lead in our secure enclosed field. 
            </p>
        </div>
        <div class="content-image">
            <div class ="image-container">
                <img src="{{ alias('@web') }}/assets/images/Photo.png" alt="Happy dog" title="Happy dog" />
            </div>
        </div>
    </div>
</section>
{# First section - END #}
{% endblock %}

